<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="pl">
    <!-- Fragment zawierający style css i elementy meta -->
    <div th:replace="fragments/config :: headFragment"></div>
    <title>Strona główna</title>
    <!-- Script Section (some libs need to be there) -->
    <div th:replace="fragments/config :: scriptLibFragment"></div>
</head>

<body id="body">
<!-- Menu Section -->
<div th:replace="fragments/menu :: menuFragment"></div>

<main id="main">
    <section class="section">
        <form method="post" th:object="${breedData}" class="my_form content_border">
            <div class="form_title">Dodaj rasę</div>

            <div class="my_group">
                <label for="txtBreed" class="form_label">Rasa</label>
                <input id="txtBreed" type="text" th:field="*{breed}" class="form_field" th:classappend="${breedError} ? input_error : ''">
                <div th:utext="${breedError}" th:if="${breedError != null}" class="form_error"></div>
            </div>

            <div class="my_group">
                <input type="reset" value="Wyczyść formularz" class="form_button">
                <input type="submit" value="Dodaj rasę" class="form_button">
                <a th:href="@{/employee/breeds}" class="form_button form_link">Powrót</a>
            </div>
        </form>
    </section>
</main>

<!-- Footer Section -->
<div th:replace="fragments/footer :: footerFragment"></div>
<!-- Script Section (other, custom scripts) -->
<div th:replace="fragments/config :: scriptCustomFragment"></div>
</body>
</html>
