<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="pl">
    <!-- Fragment zawierający style css i elementy meta -->
    <div th:replace="fragments/config :: headFragment"></div>
    <title>Strona główna</title>
    <!-- Script Section (some libs need to be there) -->
    <div th:replace="fragments/config :: scriptLibFragment"></div>
</head>

<body id="body">
<!-- Menu Section -->
<div th:replace="fragments/menu :: menuFragment"></div>

<main id="main">
    <section class="section">
        <form method="post" action="/employee/prescriptions/addMedicine" th:object="${medPrescriptionData}" class="my_form content_border">
            <input type="hidden" th:field="*{prescriptionId}">
            <div class="form_title">Dodaj lek do recepty</div>

            <div class="my_group">
                <label for="selMedicine" class="form_label">Lek</label>
                <select id="selMedicine" th:field="*{medicineId}" class="form_field" th:if="${!meds.isEmpty()}">
                    <option th:each="med : ${meds}"th:utext="${med.medicine}" th:value="${med.medicineId}"></option>
                </select>
            </div>

            <div class="my_group">
                <label for="valMedQuantity" class="form_label">Ilość</label>
                <input id="valMedQuantity" type="number" min="1" max="99" th:field="*{medQuantity}">
            </div>

            <div class="my_group">
                <label for="txtPrescriptionDescription" class="form_label">Opis</label>
                <input id="txtPrescriptionDescription" type="text" th:field="*{prescriptionDescription}">
            </div>

            <div class="my_group">
                <input type="reset" value="Wyczyść formularz" class="form_button">
                <input type="submit" value="Dodaj lek do recepty" class="form_button">
                <a th:href="@{/employee/prescriptions}" class="form_button form_link">Powrót</a>
            </div>
        </form>
    </section>
</main>

<!-- Footer Section -->
<div th:replace="fragments/footer :: footerFragment"></div>
<!-- Script Section (other, custom scripts) -->
<div th:replace="fragments/config :: scriptCustomFragment"></div>
</body>
</html>
