<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="pl">
    <!-- Fragment zawierający style css i elementy meta -->
    <div th:replace="fragments/config :: headFragment"></div>
    <title>Strona główna</title>
    <!-- Script Section (some libs need to be there) -->
    <div th:replace="fragments/config :: scriptLibFragment"></div>
</head>

<body id="body">
<!-- Menu Section -->
<div th:replace="fragments/menu :: menuFragment"></div>

<main id="main">
    <section class="section">
        <div class="my_detail content_border">
            <div class="form_title">Szczegóły recepty</div>
            <h1>Identyfikator:</h1>
            <h5 th:utext="${prescription.prescriptionId}"></h5>
            <h1>Imię i nazwisko klienta:</h1>
            <h5 th:utext="${prescription.clientId.name + ' ' + prescription.clientId.surname}"></h5>
            <h1>Imię i nazwisko wystawiającego:</h1>
            <h5 th:utext="${prescription.doctorId.name + ' ' + prescription.doctorId.surname}"></h5>
            <h1>Data wystawienia:</h1>
            <h5 th:utext="${prescription.prescriptionDate}"></h5>

            <h1>Leki: </h1>
            <table class="my_table">
                <caption class="my_table_title">
                    Lista leków</br>
                    <a th:href="@{'/employee/prescriptions/addMedicine/' + ${prescription.prescriptionId}}" class="add_link">Dodaj lek</a>
                </caption>

                <tr class="my_thead">
                    <td>Identyfikator</td>
                    <td>Nazwa leku</td>
                    <td>Ilość</td>
                </tr>

                <tr class="my_tbody" th:if="${prescription.medsPrescriptions.isEmpty()}">
                    <td><h3 style="text-align: center; margin-top: 5px; margin-bottom: 5px;">Lista jest pusta</h3></td>
                </tr>

                <tr class="my_tbody" th:each="medPrescription : ${prescription.medsPrescriptions}">
                    <td th:utext="${medPrescription.medicineId.medicineId}"></td>
                    <td th:utext="${medPrescription.medicineId.medicine}"></td>
                    <td th:utext="${medPrescription.medQuantity}"></td>
                </tr>
            </table>
            <br/>

            <a th:href="@{/employee/prescriptions}" class="form_button form_link">Powrót</a>
        </div>
    </section>
</main>

<!-- Footer Section -->
<div th:replace="fragments/footer :: footerFragment"></div>
<!-- Script Section (other, custom scripts) -->
<div th:replace="fragments/config :: scriptCustomFragment"></div>
</body>
</html>
